html {
  background: #FAF9F9;
  color: #22333B;
}

.nav {
  display: flex;
  justify-content: end;
  padding: 1rem 2rem;
}

.container {
  max-width: 1440px;
  margin: 4rem 1rem 0 1rem;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 14rem;
    margin-left: 7.75rem;
  }
}

.heading,
.body,
.link {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.heading {
  font-size: 2.25rem;
  margin-bottom: 4.25rem;
  max-width: 890px;
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 3.375rem;
  }
}

.section {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .section {
    margin-bottom: 4rem;
    max-width: 790px;
  }
}


.subheading {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .subheading {
    font-size: 1.75rem;
  }
}

.body {
  font-size: 1.25rem;
  line-height: 1.35;
}

@media only screen and (min-width: 768px) {
  .body {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.list {
  display: flex;
}

.list a {
  padding-right: 1rem;
}

.link {
  color: #22333B;
  font-size: 1.25rem;
  text-decoration-style: dashed;
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 1.75rem;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}